 
 <h1 class="text-center">{{title}}</h1>
 <html>
  <body>
    <nav class="navbar navbar-expand-sm bg-success navbar-dark">
      <ul class="navbar-nav">
        <li class="navbar-item">
          <a routerLink="createstudent" routerLinkActive="active" class="nav-link">create student</a>
        </li>
        <li class="navbar-item">
          <a routerLink="viewstudentdetails" routerLinkActive="active" class="nav-link">check student details</a>
        </li>
        </ul>

    </nav>
  </body>
 </html>

 
<router-outlet>

</router-outlet>